adbutils==1.0.8
easyocr==1.6.2
numpy==1.23.3
opencv_contrib_python==4.5.4.58
opencv_python==4.6.0.66
opencv_python_headless==4.5.4.60
torch==1.10.1+cu102
torch==1.12.1
uiautomator2==2.16.19
~pencv_python==4.5.4.60
